@import './Common.scss';

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px 0;

    p {
        margin: auto;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: $primary-footer-color;
    }

    .footer-link {
        color: $link-color;
        cursor: pointer;
    }
}